<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://connecttoazurecosmosdb-ara6f4h6gvfjb0by.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c35ea83d-0761-41d9-aa9f-e07e0e8b71db/resourceGroups/allaboutdontnetcore/providers/Microsoft.Web/sites/ConnectToAzureCosmosDB</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://connecttoazurecosmosdb-ara6f4h6gvfjb0by.scm.centralindia-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>